# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x "App Source Code/gradlew"

    - name: Task
      run: ./"App Source Code/gradlew" tasks
      
    - name: Build  
      run: ./"App Source Code/gradlew" build   


    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
          name: app
          path: "App Source Code/app"
